@page "/minesweeper"
@using WebApplication1.Shared
@inject HttpClient Http

<h1>MineSweeper</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (fields == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var row in fields)
            {
                <tr>
                    @foreach (var col in row)
                    {
                        <td><input bind="@col.Value" onclick="@(() => FieldClicked(col.Column, col.Row))"/></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    IEnumerable<IEnumerable<MineSweeperField>> fields;

    protected override async Task OnInitAsync()
    {
        fields = await Http.GetJsonAsync<IEnumerable<IEnumerable<MineSweeperField>>>("api/SampleData/MineSweeperFields");
    }

    private void FieldClicked(int col, int row)
    {
        Console.WriteLine($"FieldClicked col: {col} row: {row}");
    }
}
